.FinishedQuiz {
    padding: 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
}

.FinishedQuiz ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.FinishedQuiz ul li i {
    margin-left: 10px;
    cursor: pointer;
}


.success {
    color: rgba(161, 240, 69, .7);
}

.error {
    color: rgba(240, 87, 108, .7);
}

.FinishedQuiz .btn {
    border-radius: 5px;
    color: #fff;
    background: green;
    padding: 10px 15px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color .3s ease-in-out;
}

.FinishedQuiz .btn:hover {
    transition: background-color .3s ease-in-out;
    background: #70974c;
}